@mixin button {
    padding: 8px;
    border: 5px;
    border-radius: 5px;
    color: #fff;
    background: skyblue;

    &:hover{
        cursor: pointer;
        color: pink;
        background: #000;
    }
}

.success {
    @include button;
}
.danger {
    @include button;
}